<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Admin Dashboard</title>
</head>
<body>
<div id="wrapper">
    <div th:replace="~{/admin/fragments/sidebar :: sidebar}"></div>
    <div id="page-content-wrapper" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
        <div class="container-fluid">
            <div class="d-flex p-3 justify-content-between align-items-center">
                <h4>Tổng số thể loại : <span th:text="${countTypes}"></span></h4>
                <button class="btn btn-primary" data-toggle="modal" data-target="#addtypeModal">Thêm mới +</button>
            </div>
            <div>
                <input type="text" class="form-control" id="search" placeholder="Tìm kiếm tên thể loại" onkeyup="searchMovieType()">
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Tên</th>
                    <th>Số phim có được</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody id="movieTypeTableBody">
                <tr th:each="type, status : ${types}">
                    <td th:text="${status.index + 1}"></td>
                    <td th:text="${type.type_name}"></td>
                    <td th:text="${movieCounts[type.movie_type_id]}"></td>
                    <td>
                        <button class="btn btn-warning edit-type" data-toggle="modal" data-target="#edittypeModal"
                                th:data-id="${type.movie_type_id}" th:data-name="${type.type_name}">Sửa</button>
                        <a class="btn btn-danger" th:href="@{/admin/types/delete/{id}(id=${type.movie_type_id})}">Xóa</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add type Modal -->
<div class="modal fade" id="addtypeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm thể loại mới</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/types/add}" th:object="${type}" method="post">
                    <div class="form-group">
                        <label for="name">Tên thể loại:</label>
                        <input type="text" class="form-control" id="name" th:field="*{type_name}" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit type Modal -->
<div class="modal fade" id="edittypeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa thể loại</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/types/edit}" method="post">
                    <input type="hidden" id="edittypeId" name="movie_type_id"/>
                    <div class="form-group">
                        <label for="editName">Tên danh mục:</label>
                        <input type="text" class="form-control" id="editName" name="type_name" required/>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('#edittypeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            $(this).find('#edittypeId').val(button.data('id'));
            $(this).find('#editName').val(button.data('name'));
        });
    });

    function searchMovieType() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("movieTypeTableBody");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>