<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery (Bootstrap requires jQuery) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- CKEditor -->
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <meta charset="UTF-8">
    <title>Thêm</title>
</head>
<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{/admin/fragments/sidebar :: sidebar}"></div>

    <!-- Page Content -->
    <div id="page-content-wrapper" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thêm phim mới </h5>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/admin/movies/add}" th:object="${movie}" method="post">
                            <div class="form-group">
                                <label for="title">Tiêu đề:</label>
                                <input type="text" class="form-control" id="title" th:field="*{title}" />
                            </div>
                            <div class="form-group">
                                <label for="titleByEnglish">Tiêu đề (Tiếng Anh/...):</label>
                                <input type="text" class="form-control" id="titleByEnglish" th:field="*{titleByLanguage}" />
                            </div>

                            <div class="form-group">
                                <label for="status">Trạng thái:</label>
                                <input type="text" class="form-control" id="status" name="status" required />
                            </div>
                            <div class="form-group">
                                <label for="totalEpisodes">Số tập:</label>
                                <input type="number" class="form-control" id="totalEpisodes" name="totalEpisodes" min="1" />
                            </div>
<!--                            <div class="form-group">-->
<!--                                <label for="duration">Thời lượng (phút):</label>-->
<!--                                <input type="number" class="form-control" id="duration" name="duration" required />-->
<!--                            </div>-->
                            <div id="episodeLinksContainer" class="form-group"></div>

                            <div class="form-group">
                                <label for="director">Đạo diễn:</label>
                                <input type="text" class="form-control" id="director" th:field="*{director}" />
                            </div>
                            <div class="form-group">
                                <label for="actors">Diễn viên:</label>
                                <div id="actors">
                                    <input type="text" class="form-control mb-2" name="actors" />
                                </div>
                                <button type="button" class="btn btn-secondary" id="addActor">Thêm diễn viên</button>
                            </div>
                            <div class="form-group">
                                <label for="duration">Thời lượng(phút) :</label>
                                <input type="text" class="form-control" id="duration" name="duration" th:field="*{duration}" />
                            </div>
                            <div class="form-group">
                                <label for="quality">Chất lượng:</label>
                                <select class="form-control" id="quality" th:field="*{quality}">
                                    <option th:value="SD">SD</option>
                                    <option th:value="HD">HD</option>
                                    <option th:value="FULL_HD">Full HD</option>
                                    <option th:value="_4K">4K</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="vietSub">Vietsub:</label>
                                <select class="form-control" id="vietSub" th:field="*{vietSub}">
                                    <option th:value="true">Có</option>
                                    <option th:value="false">Không</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Mô tả:</label>
                                <textarea class="form-control" id="description" th:field="*{description}" maxlength="65535"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="release_year">Năm phát hành:</label>
                                <input type="number" value="2000" class="form-control" id="release_year" min="1900" max="2100" th:field="*{release_year}" />
                            </div>
                            <div class="form-group">
                                <label for="movieTypes" class="d-block">Thể loại:</label>
                                <select class="form-control" style="width: 100%" id="movieTypes" name="movieTypeIds" multiple>
                                    <option th:each="type : ${types}" th:value="${type.movie_type_id}" th:text="${type.type_name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="category" class="d-block">Danh mục:</label>
                                <select class="form-control " style="width: 100%" id="category" name="categoryIds" multiple>
                                    <option th:each="category : ${categories}" th:value="${category.category_id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="country">Quốc gia:</label>
                                <select class="form-control" id="country" name="countryId">
                                    <option th:each="country : ${countries}" th:value="${country.country_id}" th:text="${country.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="hot">Phim hot:</label>
                                <select class="form-control" id="hot" th:field="*{hot}">
                                    <option th:value="true">Có</option>
                                    <option th:value="false">Không</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="thumb_url">Ảnh bìa:</label>
                                <input type="text" class="form-control" id="thumb_url" th:field="*{thumb_url}" />
                            </div>
                            <div class="form-group">
                                <label for="trailer">Đường dẫn (trailer):</label>
                                <input type="text" class="form-control" id="trailer" th:field="*{trailer}" />
                            </div>
                            <div class="form-group">
                                <label for="link_url">Đường dẫn (phát chính):</label>
                                <input type="text" class="form-control" id="link_url" name="link_url" th:field="*{link}" />
                            </div>
                            <button type="submit" class="btn btn-primary">Thêm</button>
                        </form>
                    </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#addActor').click(function() {
            $('#actors').append('<input type="text" class="form-control mb-2" name="actors" />');
        });
    });

    document.getElementById('totalEpisodes').addEventListener('input', function () {
        const totalEpisodes = parseInt(this.value);
        const container = document.getElementById('episodeLinksContainer');
        const linkInput = document.getElementById('link_url');
        container.innerHTML = '';

        if (!isNaN(totalEpisodes) && totalEpisodes > 0) {
            linkInput.disabled = true;
            for (let i = 1; i <= totalEpisodes; i++) {
                const div = document.createElement('div');
                div.className = 'form-group';
                div.innerHTML = `
                    <label for="episodeLink${i}">Đường dẫn tập ${i}:</label>
                    <input type="text" class="form-control" id="episodeLink${i}" name="episodeLinks" required />
                `;
                container.appendChild(div);
            }
        } else {
            linkInput.disabled = false;
        }
    });

    document.getElementById('status').addEventListener('input', function () {
        const status = this.value.toLowerCase();
        const totalEpisodesInput = document.getElementById('totalEpisodes');
        const container = document.getElementById('episodeLinksContainer');
        const linkInput = document.getElementById('link_url');

        if (status === 'full') {
            totalEpisodesInput.value = '';
            totalEpisodesInput.disabled = true;
            container.innerHTML = '';
            linkInput.disabled = false;
        } else {
            totalEpisodesInput.disabled = false;
        }
    });

    CKEDITOR.replace('description');
</script>
</body>
</html>