<!-- Add Back button in detail.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- jQuery (Bootstrap requires jQuery) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>movie detail</title>
</head>
<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{/admin/fragments/sidebar :: sidebar}"></div>
    <!-- End of Sidebar -->
    <div id="page-content-wrapper" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
        <div>
            <div>
                <h2>Movie Thumb:</h2>
                <img class="movie-thumb" th:src="${movie.thumb_url}" alt="Thumbnail" style="max-width: 100px;" />
            </div>
            <h2 th:text="${movie.title}">Movie Title</h2>
            <p><strong>Director:</strong> <span th:text="${movie.director}">Director Name</span></p>
            <p><strong>Actors:</strong> <span th:text="${movie.actors}">Actors List</span></p>

            <p><strong>Description:</strong> <span th:utext="${movie.description}">Movie Description</span></p>

            <p><strong>Release Year:</strong> <span th:text="${movie.release_year}">Release Year</span></p>
            <p><strong>Country:</strong> <span th:text="${movie.country.name}">Country Name</span></p>
            <p><strong>Types:</strong>
            <ul>
                <li th:each="type : ${movie.movieTypes}" th:text="${type.type_name}">Type Name</li>
            </ul>
            </p>
            <p><strong>Categories:</strong>
            <ul>
                <li th:each="category : ${movie.movieCategories}" th:text="${category.name}">Category Name</li>
            </ul>
            </p>
        </div>
        <p><strong>Link:</strong> <a th:href="${movie.link}" target="_blank">Watch Movie</a></p>
        <!-- Back button -->
        <button class="btn btn-secondary" onclick="goBack()">Back</button>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>